
body{
    background-color: #ccc;
}


{
margin: 0;
padding: 0; 
}



h1{
    margin-top: 1em;
    font-style:italic;
    font-weight:bold;
    text-align:center;
}

.div1{
    border: 4px solid black;
    background-color:lightslategray;
    float:left;
    margin-top: 3em;



}

.div2{
    border: 4px solid black;
    background-color:lightslategray;

    float:left;
    margin-top: 3em;
    margin-left:5px;


}

.div3{
    border: 4px solid black;
    background-color:lightslategray;

    float:left;
    margin-top: 3em;
    margin-left:5px;
    

}

.one{
    font-size: 1.25rem;
    font-weight: bolder;
    float: right;
    background: lightgreen;
    padding:0 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    border: 2px solid black;
    clear: both;
   }

   .two{
    font-size: 1.25rem;
    font-weight: bolder;
    float: right;
    background:lightblue;
    padding:0 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    border: 2px solid black;
    clear: both;
   }

   .three{
    font-size: 1.25rem;
    font-weight: bolder;
    float: right;
    background: lightpink;
    padding:0 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    border: 2px solid black;
    clear: both;
   }

   .text{
       margin-top: 2em;
       padding:1em;

   }


  @media (min-width: 761px) and (max-width: 991px){

    .div1{
        width:48%;
      }
   
    .div2{
        width:48%
    }            
    
    .div3{
        width:98%;
        margin-right:5px;
    }
    
  }



  @media (min-width: 992px)
  {
     .div1{
        width:32%;
     } 
  
     .div2{
        width:32%;
     }


     .div3{
        width:32%;
     }

    }


